
<!-- skills -->
  <div class="category skills">
    <div class="cat-title">
      <span class="cat-name">Skills</span>
      <span class="cat-head-line"></span>
    </div>
    <div class="cat-body">
        
      <div class="listing">
          <div class="list-icon"></div>
          <div class="list-item">
            <div class="title">Level of knowledge</div>
            <div class="list-more flex-horizontal">
              {% for level in site.data.skill_captions %}
                <span class="item"> <span class="dull">{{ level[1] }}</span></span>
              {% else %}
                There are no items!
              {% endfor %}
            </div>
          </div>
      </div>

    {% for skill in site.data.skills %}
      <div class="listing">
        <div class="list-icon"></div>
        <div class="list-item">
          <div class="title">{{ skill.title }}</div>
          <div class="list-more flex-horizontal">
            {% for item in skill.items %}
              <span class="columna">
                <i class="fa fa-check-circle" ></i>
                {{ item.name }} 
                <span class="dull"> //{{site.data.skill_captions[item.level]}}</span>
              </span>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>
<!-- end -->