<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->

    <ul class="projectlist">
        {% for project in site.data.projects %}
        <li>
          <h3>{{ project.title }}</h3>

          {% if project.logo %}
            <img src="{{ site.url }}/images/{{ project.logo }}"/>
          {% endif %}

          {{ project.content | markdownify }}

          {% if project.github %}
            <i class="fa fa-git-square"></i>
            <a href="{{ project.github }}"><small>GitHub</small></a>&nbsp;
          {% endif %}
          {% if project.docs %}
            <i class="fa fa-book"></i>
            <a href="{{ project.docs }}"><small>Docs</small></a>&nbsp;
          {% endif %}
          {% if project.link %}
            <i class="fa fa-external-link-square"></i>
            <a href="{{ project.github }}"><small>Site</small></a>&nbsp;
          {% endif %}
        </li>
        {% endfor %}
    </ul>


  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
